@using InrapporteringsPortal.ApplicationService.DTOModel
@model InrapporteringsPortal.Web.Models.ViewModels.FilesViewModel

<script type="text/javascript">

    $(document).ready(function () {
        var rows = $(".greenRow").closest('tr');
        $(rows).css('background-color', 'rgba(130, 224, 170, 0.4)');  
    });

</script>


@using (Html.BeginForm("RefreshFilesHistory", "FileUpload", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "updateHistoryForm" }))
{
    @Html.HiddenFor(m => Model.OrganisationsNamn)
    @Html.HiddenFor(m => Model.StartUrl)

    <H4>Historik för @Html.Raw(Model.OrganisationsNamn)</H4>
    <table class="table table-striped" id="historyTable">
        <thead>
            <tr class="historyHeader" style="background-color: #f9f9f9;">
                <th>Uppgifter</th>
                <th>Period</th>
                <th>Leveranstidpunkt</th>
                <th>Leveransid</th>
                <th>Leveransstatus</th>
                <th>Filnamn</th>
                <th>Filstatus</th>
                <th>Återkoppling</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.HistorikLista != null)
            {
                foreach (FilloggDetaljDTO loggRad in Model.HistorikLista)
                {
                    
            <tr>
                <td>@loggRad.RegisterKortnamn</td>
                <td>@loggRad.Period</td>
                <td>@loggRad.Leveranstidpunkt</td>
                <td>
                    @if (!String.IsNullOrWhiteSpace(loggRad.Enhetskod))
                    {
                        @loggRad.LeveransId
                        @Html.Raw("/")
                        @loggRad.Enhetskod
                    }
                    else
                    {
                        @loggRad.LeveransId
                    }
                </td>
                @if (loggRad.Leveransstatus.Trim() == "Inget att rapportera" || loggRad.Leveransstatus.Trim() == "Leveransen är godkänd" || loggRad.Leveransstatus.Trim() == "Leveransen är godkänd med varningar")
                {
                <td class="greenRow">@loggRad.Leveransstatus</td>
                }
                else
                {
                <td>@loggRad.Leveransstatus</td>
                }
                <td>@loggRad.Filnamn</td>
                <td>@loggRad.Filstatus</td>
                @if (loggRad.Resultatfil == "Ej kontrollerad" || loggRad.Resultatfil == " - ")
    {
            <td>@loggRad.Resultatfil</td>
}
else
{
            <td>@Html.ActionLink("Visa återkopplingsfil", "DownloadFile", "FileUpload", new { fileName = loggRad.Resultatfil }, null)</td>
}
            </tr>
                }
            }
        </tbody>
    </table>
}


