@model InrapporteringsPortal.Web.Models.HistoryViewModels.HistoryViewModel
@{
    ViewBag.Title = "Historik";
}

<script>
    var registerLista  = @Html.Raw(Json.Encode(Model.RegisterList));
</script>

<script type="text/javascript">

    $(document).ready(function () {
        createRadioButtons();
        $("#historyGridContent tbody tr").each(function (i, row) {
            var $actualRow = $(row);
            var x = $actualRow.find('td:eq(4)').html().trim();
            if (($actualRow.find('td:eq(4)').html().trim() === 'Inget att rapportera') || ($actualRow.find('td:eq(4)').html().trim() === 'Leveransen är godkänd med varningar')) {
                $actualRow.css('background-color', 'rgba(130, 224, 170, 0.4)');
            }
        });

        //Sätt antal rader
        $('#header').html("");
        $('<H4>All historik för @Html.Raw(Model.OrganisationsNamn) <span style="font-size: 0.7em">(totalt antal filer: @Html.Raw(Model.HistorikLista.Count))</span></H4><br><br>').appendTo('#header');

        $("input[type='radio']").on('change', function () {
            var selectedregId = $("input[name='regName']:checked").val();
            if (selectedregId) {
                //alert("Hello, your favorite programming language= " + selectedregId);
                showOnlySelectedRegister(selectedregId);
            }
        });

    });

    function showOnlySelectedRegister(registerId) {
        //Loopa igenom hela historiktabellen. Visa endast de rader som har delreg-kortnamn som är godkänt för valt register
        var antRader = 0;
        $("#historyGridContent tbody tr").each(function(i, row) {
            var $actualRow = $(row);
            var $rowShortname = $actualRow.find('td:eq(0)').html().trim();
            if (registerId === "0") {
                $(row).show();
                antRader++;
            } else {
                //Hämta delregisters kortnamn för valt register
                    registerLista.forEach(function(register, index) {
                        if (registerId === register.Id.toString()) {
                            var okToShow = false;
                            register.DelRegister.forEach(function(delreg, ix) {
                                if ($rowShortname === delreg.Kortnamn) {
                                    okToShow = true;
                                }
                            });
                            if (okToShow) {
                                $(row).show();
                                antRader++;
                            } else {
                                $(row).hide();
                            }
                        }
                });
            }
        });
        //Sätt antal rader
        $('#header').html("");
        $('<H4>All historik för @Html.Raw(Model.OrganisationsNamn) <span style="font-size: 0.7em">(antal filer: ' + antRader + ')</span ></H4><br><br>').appendTo('#header');
    }


    $(document).on('change', '#ddlRegister', function () {
        $("#SelectedRegisterId").val($('#ddlRegister').val());
    });

    function createRadioButtons() {
        $('<label class="radio-inline"><input type="radio" name="regName" value="0" checked="checked">Alla</input></label>').appendTo('#radioBtns');
        registerLista.forEach(function (register, index) {
            $('<label class="radio-inline"><input type="radio" name="regName" value="' + register.Id.toString() + '" >' + register.Kortnamn + '</input></label>').appendTo('#radioBtns');
        });
    }

</script>

<div class="row padding-top-55" id="header">
</div>

<div id="radioBtns">
    @*<label class="radio-inline"><input type="radio" name="optradio">Option 1</label>
    <label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
    <label class="radio-inline"><input type="radio" name="optradio">Option 3</label>
    <div class="radio">
        <label><input type="radio" name="optradio">Option 2</label>
    </div>
    <div class="radio disabled">
        <label><input type="radio" name="optradio" disabled>Option 3</label>
    </div>*@
</div>

<div id="pageContainer">
    @*<div class="row">
            <div class="col-md-8 padding-top-55">
                <h4>Administrera filkrav</h4>
                <br />
                <section id="orgForm">
                    @using (Html.BeginForm("GetAllHistoryinfo", "History", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="row">
                            <div class="col-md-8 form-group" style="width: 225px !important; margin-left: 5px;">
                                @Html.DropDownListFor(m => m.SelectedRegisterId, ViewBag.RegisterList as SelectList, " - Välj Register -", new { id = "ddlRegister", @class = "form-control", style = "max-width:150px !important" })
                            </div>
                            <div class="col-md-8" style="padding-left: 0px; margin-left: -10px;">
                                <div><input type="submit" value="Visa" class="btn btn-default" /></div>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>*@

    @if (Model != null)
    {
        <div id="historyGridContent" style="font-family: Arial; padding-top: 20px; margin-left: -15px;">
            @{
                ViewBag.Title = "Historik";
                var grid = new WebGrid(source: Model.HistorikLista, canPage: false, ajaxUpdateContainerId: "historyGrid");
            }


            @grid.GetHtml(htmlAttributes: new { id = "historyTable" },
                          tableStyle: "webgrid-table",
                          headerStyle: "webgrid-header",
                          footerStyle: "webgrid-footer",
                          alternatingRowStyle: "webgrid-alternating-row",
                          selectedRowStyle: "webgrid-selected-row",
                          rowStyle: "webgrid-row-style",
                          mode: WebGridPagerModes.All,
                          columns: grid.Columns(
                              grid.Column("RegisterKortnamn", "Uppgifter", style: "regName"),
                              grid.Column("Period", "Period", style: "period"),
                              grid.Column("Leveranstidpunkt", "Leveranstidpunkt", style: "deliveryTime"),
                              grid.Column("LeveransId", "Leveransid"),
                              grid.Column("Leveransstatus", " Leveransstatus"),
                              grid.Column("Filnamn", "Filnamn"),
                              grid.Column("Filstatus", "Filstatus"),
                              grid.Column(format: (item) => (item.Resultatfil == "Ej kontrollerad" || item.Resultatfil.Trim() == "-") ?
                                 item.Resultatfil :
                                 Html.ActionLink("Visa återkopplingsfil", "DownloadFile", "FileUpload", new { fileName = (string)item.Resultatfil }, null)
                          )))
        </div>
    }
</div>


